#page {
  text-align: center;
}

#footer {
  font-size: 11px;
  background-color: dimgray;
  width: 1200px;
  margin: 0 auto;
  color : white;
  text-align: left;
}

#middle {
  background-image: url("images/the-flatiron-building.png");
  color: white;
  height: 28px;
  background-position: center top;
  width: 1200px;
  margin: 0 auto;
}

.background {
  background-image: url("images/the-flatiron-building.png");
  color: white;
  width: 1200px;
  margin: 0 auto;
  background-position: center top;
  height: 290px;
}

h1, h2, h3, p, a {
  font-family: helvetica, sans-serif;
}

a {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-weight: 700;
  font-size: 32px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-bottom: 10px;
    font-size: 18px;
}

li {
  text-align: center;
  font-weight: 700;
  padding-right: 50px;
  padding-bottom: 12px;
}

.cool {
  color: #000000;
}
